<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <div class="login-page">-->
<!--        <div class="form">-->
<!--          <form class="login-form">-->
<!--            <label class="col-md-4 control-label message" for="nameInput">Name</label> -->
<!--            <input id="nameInput" name="nameInput" type="text" placeholder="Enter Name" class="form-control input-md" required="">-->
<!--            <label class="col-md-4 control-label message" for="email_input">Email</label>-->
<!--            <input id="email_input" name="email_input" type="text" placeholder="email@email.com" class="form-control input-md" required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">-->
<!--            <label class="col-md-4 control-label message" for="messageArea">Message</label>-->
<!--            <textarea class="form-control" id="messageArea" name="messageArea" placeholder="Message here..."></textarea>-->
<!--            <br>-->
<!--            <button>Submit</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="login-page">
          <div class="form">
            <form class="login-form" action="MAILTO:myotkyaw@gmail.com" method="post" enctype="text/plain">
              <input type="text" name="name" id="name" placeholder="Name"/>
              <input type="text" name="email" id="email" placeholder="Email Address"/>
              <textarea class="form-control" id="message" name="message" placeholder="Message here..."></textarea>
              <br />
              <button>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>