<!--<div class="container text-center">-->
<!--    <h1>Welcome to LS App</h1>-->
<!--    <h3><em>A Liberal Studies App</em></h3>-->
<!--    <h3><strong>Cal Poly Pomona</strong></h3>-->
<!--</div>-->

<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Welcome to LSApp</h1>
    <br />
    <h2>A Liberal Studies App</h2>
    <h2><strong>Cal Poly Pomona</strong></h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
    <br />
    <div class="col-xs-10 col-xs-offset-1 features text-center">
      <div class="col-sm-4">
        <h3>Track Courses</h3>
      </div>
    
      <div class="col-sm-4">
        <h3>Custom Curriculum</h3>
      </div>
    
      <div class="col-sm-4">
        <h3>Assess Knowledge</h3>
      </div>
    </div>
    <br /><br />
  </div>
</div>