<!-- ADMIN DASHBOARD -->
<header>
    <div class="container" style="padding-top: 60px; padding-bottom:10px;">
        <h1>Admin Dashboard</h1>
    </div>
    
    <h1 style="padding-top:0px; padding-bottom:10px; font-size:50px;"><em>Courses</em></h1>
    <%= link_to raw('CREATE NEW COURSE <i class="fa fa-plus" aria-hidden="true"></i>'), new_course_path, class: 'btn btn-lg btn-success' %>
    <% @courses.each do |course| %>
        <br /><br />
        <h2>
            <%= link_to course.title , course_path(course.id) %>
        </h2>
        <br class="clr" />
    <% end %>
    
    <hr style="border-top: 1px solid #333333;"/>
    
    <h1 style="padding-top:0px; font-size:50px;"><em>Students</em></h1>
    <% @students.each do |student| %>
        <h2>
            <%= link_to (student.first_name + " " +  student.last_name + " - " + student.email), student_student_courses_path(student.id) %>
        </h2>
        <br class="clr" />
    <% end %>
</header>
    